* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 920px;
    margin: 0 auto;
}

#numbers,
#timer,
#result,
#message-page {
    text-align: center;
    font-size: 3rem;
}

.button-start,
#message-page {
    text-align: center;
}

#button {
    font-size: 3rem;

}

.hidden {
    display: none;
}

h2,
#numbers,
#timer,
div #message-page,
#message-numbers,
.btn-number,
#user-number {
    text-align: center;
}

#message-numbers {
    font-size: 2.5rem;
}

#message-user-number {
    color: blue;
}

#message-random-number {
    color: red;
}

input {
    width: 100px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
}


#button-number {
    font-size: 2rem;
    padding: 20px;
}